#main{
    background-color:  rgb(255, 255, 255);
    width: 250px;
    padding: 20px;
}
.main .images img{
    height: 240px;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 768px) and (min-width: 300px) {
    #main{
        width: 170px;
        padding: 10px;
    }
    .main .images img{
        height: 190px;
    }
    .details .AddToCart{
        gap: 19px;
    }

}